.the_content{
  text-align: justify;
  h2 , h3 , h4{
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }
  h6{
    font-size:15px;
  }
  h5{
    font-size:15px;
  }
  h4{
    font-size:16px;
  }
  h3{
    font-size:18px;
  }
  h2{
    font-size:20px;
    line-height: 1.5;
  }
  h1{
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }
  p{
    color: #333;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-size: 16px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  ul{
    list-style: disc;
    padding-left: 18px;
    padding-bottom: 5px;
    li{
      color: #333;
      line-height: 1.5;
      margin-bottom: 10px;
      font-size: 16px;
      a{
        color: #ff5912;
      }
    }
  }
  ol{
    list-style: decimal;
    padding-left: 18px;
    padding-bottom: 5px;
    li{
      color: #333;
      line-height: 1.5;
      margin-bottom: 10px;
      font-size: 16px;
      a{
        color: #ff5912;
      }
    }
  }
  blockquote{
    padding:10px 20px;
    margin:0 0 20px;
    border-left:5px solid #eb2b2d;
    p{
      margin:0!important;
    }
  }
  code{
    background:rgba(0,0,0,.05);
    border-radius:3px;
    font-size:.85rem;
    color:#e83e8c;
    font-size: 16px;
    line-height: 1.5;
  }
  table>tbody>tr>td,table>tbody>tr>th,table>tfoot>tr>td,table>tfoot>tr>th,table>thead>tr>td,table>thead>tr>th{
    border:1px solid #ddd;
    padding:7px 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  iframe{
    margin:auto;
  }
  .syntaxhighlighter{
    padding:10px 0;
  }
}
